:root{
  --colorMain: #e8663c;
  --colorMain2: #f1b09b;
  --colorMain3: #f3b29d;
  --fontColor: #414141;
  --lightColor: #ffffff;
  --lightColorRGBA: 255, 255, 255;
  --greyColor: #b9b9b9;
  --greyColorRGBA: 185, 185, 185;
  --borderColor: #dbdbdb;
}