/*
** Header Style
*/

.page_header {
  transition: 0.5s ease-in-out;
  .logo{
    font-family: $fontHeaders;
    font-size: 50px;
    color: $colorMain;
  }
  .top-nav{
    .nav{
      display: flex;
      list-style: none;
      justify-content: flex-end;
      li{
        a{
          color: $colorMain;
          font-family: $fontHeaders;
          font-size: 20px;
        }
      }
    }
  }
}



